db.sqlite3
movies/__pycache__/urls.cpython-312.pyc
movies/__pycache__/views.cpython-312.pyc
vidly/__pycache__/settings.cpython-312.pyc
movies/__pycache__/views.cpython-312.pyc
movies/__pycache__/urls.cpython-312.pyc
